<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/home/marki.css' />
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="title"><%= title %></h1>
    <p>
      <strong>Ford Motor Company</strong> to amerykański gigant motoryzacyjny, założony przez Henry'ego Forda w 1903 roku. Firma jest jednym z najstarszych i największych producentów samochodów na świecie, a jej historia jest nierozerwalnie związana z rewolucją przemysłową i rozwojem motoryzacji. Ford jest pionierem w produkcji samochodów na skalę masową, znany z wprowadzenia na rynek linii produkcyjnej, co zrewolucjonizowało przemysł samochodowy i uczyniło pojazdy bardziej dostępnymi dla szerokiego kręgu konsumentów.
    </p>
    <p>
        Ford produkuje samochody w różnych segmentach: od pojazdów osobowych i dostawczych, przez SUV-y i pick-upy, aż po pojazdy elektryczne. Firma jest także jednym z liderów w zakresie innowacji technologicznych, w tym w dziedzinie pojazdów autonomicznych, samochodów elektrycznych i napędzanych wodorem.
    </p>
    <h2>Główne obszary działalności Forda:</h2>
    <p>
        <strong class="normal">Produkcja samochodów osobowych i dostawczych</strong> – Ford oferuje szeroki wybór pojazdów od małych samochodów miejskich, przez luksusowe modele, aż po dużą gamę SUV-ów i pick-upów.
    </p>
    <p>
        <strong class="normal">Pojazdy elektryczne i hybrydowe</strong> - Ford intensywnie rozwija segment pojazdów elektrycznych, wprowadzając na rynek modele takie jak Ford Mustang Mach-E czy Ford F-150 Lightning. Firma stawia na zrównoważony rozwój i ekologiczną mobilność.
    </p>
    <p>
        <strong class="normal">Pick-upy i SUV-y </strong> - Ford jest jednym z liderów w produkcji samochodów terenowych i pick-upów, szczególnie w Stanach Zjednoczonych, gdzie modele takie jak Ford F-150 cieszą się ogromną popularnością.
    </p>
    <p>
        <strong class="normal">Innowacje technologiczne</strong> -  Ford inwestuje w rozwój autonomicznych pojazdów, sztucznej inteligencji oraz rozwiązań cyfrowych, które mają poprawić komfort i bezpieczeństwo jazdy.
    </p>
  </div>
  </body>
</html>