<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/home/index.css' />
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="title"><%= title %></h1>
    <p>Nasz oferta:</p>
    <p>
      <strong>Toyota</strong> – Lider w technologii hybrydowej i synonim niezawodności. Oferujemy
      szeroką gamę samochodów dostosowanych do codziennego życia, od miejskich
      kompaktów po przestronne SUV-y. Idealny wybór dla tych, którzy cenią
      oszczędność, bezpieczeństwo i nowoczesny design.
    </p>
    <p>
      <strong>Porsche</strong> – Ikona niemieckiej precyzji i doskonałości inżynieryjnej. Nasze
      modele Porsche to marzenie każdego entuzjasty motoryzacji – od
      eleganckiego Porsche 911 po wszechstronne SUV-y jak Porsche Cayenne.
      Doświadcz niezrównanej mocy i luksusu.
    </p>
    <p>
      <strong>Ford</strong> – Marka, która zmieniła oblicze motoryzacji. W naszym salonie
      znajdziesz klasyczne modele, takie jak Ford Mustang, symbol amerykańskiego
      ducha, a także nowoczesne samochody użytkowe i rodzinne SUV-y, które
      zapewniają komfort i funkcjonalność w każdej sytuacji.
    </p>
    <p>
      <strong>Lamborghini</strong> – Luksus na najwyższym poziomie. Nasze Lamborghini to
      arcydzieła włoskiego designu i bezkompromisowej mocy. Idealne dla tych,
      którzy pragną wyróżniać się na drodze i doświadczać emocji, jakie może
      zaoferować jedynie prawdziwy supersamochód.
    </p>
  </div>
  </body>
</html>