<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/home/marki.css' />
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="title"><%= title %></h1>
    <p>
      <strong>Lamborghini</strong> to włoska marka samochodów luksusowych, która stała się symbolem ekstrawagancji, mocy i prestiżu. Firma została założona w 1963 roku przez Ferruccio Lamborghini, który początkowo prowadził biznes zajmujący się produkcją ciągników rolniczych. Pasja do motoryzacji i chęć stworzenia samochodów lepszych od konkurencyjnego Ferrari doprowadziły go do założenia własnej firmy produkującej sportowe samochody o wyjątkowych osiągach i futurystycznym designie.
    </p>
    <p>
        Lamborghini szybko stało się jednym z najbardziej rozpoznawalnych producentów samochodów na świecie, słynącym z produkcji aut, które łączą niesamowitą moc, innowacyjność i unikalny styl. Jego pojazdy stały się symbolem statusu, luksusu i osiągów. Marka jest częścią koncernu Volkswagen Group, ale jej samochody zachowują swój niepowtarzalny charakter.
    </p>
    <h2>Główne obszary działalności Lamborghini:</h2>
    <p>
        <strong class="normal">Produkcja supersamochodów</strong> – Lamborghini koncentruje się na produkcji wysokowydajnych, ekskluzywnych samochodów sportowych. Modele tej marki słyną z potężnych silników, niesamowitych osiągów, precyzyjnego prowadzenia oraz futurystycznego designu.
    </p>
    <p>
        <strong class="normal">Innowacje w technologii i designie</strong> – Lamborghini nieustannie wprowadza nowe technologie, w tym zaawansowane systemy napędu, materiały kompozytowe (np. włókno węglowe) oraz rozwiązania z zakresu aerodynamiki, które poprawiają osiągi i wydajność. Estetyka i design są równie ważne, co technologia, z każdym modelem mającym wyrazisty, agresywny wygląd.
    </p>
    <p>
        <strong class="normal">Ekskluzywność i personalizacja</strong> – Lamborghini oferuje możliwość szerokiej personalizacji swoich samochodów, aby spełniały najbardziej wyszukane oczekiwania swoich klientów. Dzięki programom jak Ad Personam klienci mogą dopasować detale wnętrza i wyglądu zewnętrznego auta do własnych preferencji.
    </p>
    <p>
        <strong class="normal">Motorsport i wyścigi</strong> – Lamborghini, choć nie jest tak intensywnie zaangażowane w wyścigi jak inne marki, ma swoje korzenie w motorsporcie. Firma produkuje samochody wyścigowe, takie jak Lamborghini Huracán Super Trofeo. Ponadto technologia wyścigowa wpływa na rozwój samochodów cywilnych.
    </p>
  </div>
  </body>
</html>