<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/home/marki.css' />
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="title"><%= title %></h1>
    <p>
      <strong>Porsche AG</strong> to niemiecki producent luksusowych samochodów sportowych, znany na całym świecie z produkcji wysokowydajnych pojazdów, które łączą wyjątkowy design, innowacyjne technologie oraz niezrównaną jakość wykonania. Firma została założona w 1931 roku przez Ferdinanda Porsche, a jej siedziba znajduje się w Stuttgarcie, w Niemczech. Porsche jest jednym z najbardziej prestiżowych producentów samochodów na świecie, a jego modele stały się synonimem luksusu, prędkości, precyzyjnego prowadzenia i technologicznych innowacji.
    </p>
    <p>
      Porsche produkuje zarówno samochody sportowe, jak i luksusowe SUV-y oraz limuzyny, a także rozwija segment pojazdów elektrycznych. Dzięki niezrównanej historii sukcesów na torach wyścigowych, Porsche ma także głębokie korzenie w motorsporcie, co wpływa na design i technologię produkowanych pojazdów.
    </p>
    <h2>Główne obszary działalności Porsche:</h2>
    <p>
        <strong class="normal">Produkcja samochodów sportowych</strong> – Porsche jest znane przede wszystkim z produkcji samochodów sportowych, które oferują wyjątkowe osiągi, precyzyjne prowadzenie i unikalny design. Modele te są uznawane za jedne z najlepszych na świecie w swojej klasie.
    </p>
    <p>
        <strong class="normal">SUV-y i limuzyny</strong> – Porsche oferuje również pojazdy, które łączą luksus, przestronność i sportowe osiągi. Modele takie jak Porsche Cayenne i Porsche Macan są popularnymi SUV-ami w segmencie premium, które wyróżniają się mocą silników i wyjątkowymi właściwościami jezdnymi.
    </p>
    <p>
        <strong class="normal">Pojazdy elektryczne</strong> – Porsche stawia na rozwój elektromobilności, inwestując w nowoczesne technologie związane z pojazdami elektrycznymi. Model Porsche Taycan to pierwszy w pełni elektryczny pojazd tej marki, który łączy sportowe osiągi z zerową emisją spalin.
    </p>
    <p>
        <strong class="normal">Motorsport</strong> – Porsche ma bogatą historię w wyścigach, zarówno na torach, jak i w rajdach, co wpływa na rozwój technologii wykorzystywanych w samochodach cywilnych. Firma bierze udział w prestiżowych zawodach, takich jak 24h Le Mans, Formula E i inne wyścigi wytrzymałościowe.
    </p>
  </div>
  </body>
</html>