<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/home/marki.css' />
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="title"><%= title %></h1>
    <p>
      <strong>Toyota</strong> to japońska firma motoryzacyjna, która jest jednym z największych producentów samochodów na świecie. Została założona w 1937 roku przez Kiichiro Toyodę i początkowo była częścią większej grupy Toyoda, która zajmowała się produkcją maszyn tekstylnych. Z biegiem lat Toyota stała się globalnym liderem w produkcji pojazdów, w tym samochodów osobowych, dostawczych, terenowych oraz hybrydowych.
    </p>
    <h2>Główne obszary działalności Toyoty:</h2>
    <p>
        <strong class="normal">Produkcja samochodów osobowych</strong> – Toyota oferuje szeroką gamę pojazdów, zarówno w segmencie ekonomicznym, jak i premium. Firma jest znana z produkcji samochodów charakteryzujących się niezawodnością, oszczędnością paliwa i nowoczesnymi technologiami.
    </p>
    <p>
        <strong class="normal">Hybrydy i pojazdy elektryczne </strong> – Toyota była pionierem w produkcji samochodów hybrydowych, wprowadzając na rynek model Prius w 1997 roku. Obecnie firma kontynuuje rozwój technologii elektrycznych i hybrydowych, dążąc do zrównoważonego rozwoju i zmniejszenia emisji spalin.
    </p>
    <p>
    <strong class="normal">Innowacje technologiczne</strong>  – Toyota inwestuje w nowe technologie motoryzacyjne, takie jak autonomiczne systemy jazdy, samochody napędzane wodorem oraz różne rozwiązania związane z bezpieczeństwem i komfortem użytkowników.
    </p>
  </div>
  </body>
</html>