<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/cars/edit.css">
    </head>
    <body>
        <%- navbar %>
        <div class="container">
            <form action="/cars/editImage/<%= car.id %>" method="POST"
                enctype="multipart/form-data">
                <label for="file">Wybierz nowe zdjęcie:</label>
                <input type="file" name="file" id="file" accept="image/jpeg, image/png, image/gif, image/webp" required/>
                <button type="submit">Podmień zdjęcie</button>
            </form>
        </div>
    </body>
</html>